body{
    background-color: #232323;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
h1{
    text-align: center;
}
.square{
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 20px;
}

#container{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

#stripe{
    background: white;
    text-align: center;
    height: 30px;
    color: black;
}